body {
  font-family: 'JetBrains Mono', monospace;
  background: #c6e1fe;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.quiz {
  margin-top: 20px;
}

/* Grid layout for the answer buttons */
#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 60px;
}

/* Button style */
.btn {
  background: #ffe9f4;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 50px;   /* pill shape */
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover effect */
.btn:hover:not([disabled]) {
  background: #ead1dc;
}
.btn:disabled{
  cursor: no-drop;
}
#next-btn{
  background: #58a5d9;
  color: #000;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 15px;
  margin: 50px auto 0;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}
#question{
  margin-top: 60px;
}
.correct{
  background: #9aeabc;
}
.incorrect{
  background: #ff9393;
}